.App {
  text-align: center;
  background-image: url("./photos/TableBackground.jpg");
  height: 45em;
  margin: 0;
}

.delt-card {
  display: inline-block;
  margin: 0.6em;
}

.game-board {
  display: inline-block;
  height: 100%;
  margin: 0;
}

.dealer-hand {
  display: block;
}
.player-hand {
  margin-top: 60px;
}

.game-buttons {
  margin: 0.6em;
}
