.App {
  text-align: center;
  background-image: url("./photos/TableBackground.jpg");
  background-repeat: no-repeat;
  height: 100em;
  margin: 0;
}

.total {
  color: whitesmoke;
}

#opening-header {
  text-align: center;
}

.delt-card {
  display: inline-block;
  margin: 0.2em;
  height: 30%;
  width: 30%;
}

img {
  display: inline;
  height: 55%;
  width: 55%;
}

li {
  margin-top: 10px;
}

.game-board {
  display: inline-block;
  height: 100%;
  margin: 0;
}

.dealer-hand {
  display: block;
}
.player-hand {
  margin-top: 60px;
}

.game-buttons {
  margin: 0.6em;
  display: absolute;
  bottom: 0;
}
